@import './../abstracts/variables';
@import './../abstracts/mixins';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	box-sizing: border-box;
	font-family: $ff-primary;
	font-size: map-get($fs-map, '10');
}

img {
	@include dimension(100%, 100%);
	display: block;
	object-fit: cover;
}
