@mixin flex-mother(
	$direction: row,
	$alignItems: center,
	$justifyContent: center
) {
	display: flex;
	flex-direction: $direction;
	align-items: $alignItems;
	justify-content: $justifyContent;
}

@mixin dimension($width: 0, $height: 0) {
	width: $width;
	height: $height;
}

@mixin positioning(
	$position: absolute,
	$top: 0,
	$left: 0,
	$transforming: false
) {
	position: $position;
	top: $top;
	left: $left;

	@if ($transforming) {
		transform: translate(-50%, -50%);
	}
}
