@import './../../styles/abstracts/functions';
@import './../../styles/abstracts/mixins';
@import './../../styles/abstracts/variables';
@import './../../styles/utils/placeholders';

.actions {
	@include flex-mother(row, center, space-between);
	height: 5rem;
	padding: 0 2rem;
	background-color: map-deep-get(
		$colors,
		'dark-theme',
		'clr-very-dark-desaturated-blue'
	);
	&--light {
		background-color: map-deep-get(
			$colors,
			'light-theme',
			'clr-very-light-grayish-blue'
		);
	}
	&__items {
		font-weight: 700;
		font-size: 1.2rem;
		color: map-deep-get($colors, 'dark-theme', 'clr-dark-grayish-blue');
	}
	&__btn {
		@extend %btn;
		margin: 0 1rem;
		color: map-deep-get($colors, 'dark-theme', 'clr-dark-grayish-blue');
		font-size: 1.2rem;
		transition: color 0.3s;
		&:hover {
			color: map-get($primary-colors, 'clr-bright-blue');
		}
	}
}
