@import './../../../styles/abstracts/functions';
@import './../../../styles/abstracts/mixins';
@import './../../../styles/abstracts/variables';
@import './../../../styles/utils/placeholders';

.todo {
	@include flex-mother(row, center, flex-start);
	height: 5rem;
	margin: 1rem 0;
	border-bottom: 1px solid
		map-deep-get($colors, 'dark-theme', 'clr-very-dark-grayish-blue');
	&--light {
		border-color: map-deep-get(
			$colors,
			'light-theme',
			'clr-light-grayish-blue'
		);
	}
	&__title {
		padding-left: 2rem;
		font-size: 1.4rem;
		flex-grow: 1;
		color: map-deep-get($colors, 'dark-theme', 'clr-light-grayish-blue');
		&--complete {
			text-decoration: line-through;
		}
		&--light {
			color: map-deep-get($colors, 'light-theme', 'clr-very-dark-grayish-blue');
		}
	}
	&__delete {
		@extend %btn;
		margin-right: 2rem;
	}
}
